section {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
padding: 0;
}
figure {
margin: 13px 26px;
flex: 0 1 calc(25% - 52px);
}

section img {
width: 100%;
height: auto;
padding: 0;
margin: 0;
display: block;
}

figcaption {
text-align: center;
}

@media (max-width: 1024px) {
  figure {
    flex-basis: calc(50% - 32px);
    margin: 13px 16px;
  }
}

@media (max-width: 600px) {
  section {
    justify-content: center;
  }

  figure {
    flex-basis: calc(100% - 32px);
    margin: 13px 16px;
  }
}